.DMTool {
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	width: 70%;
  }
  .MealList {
	padding-top: 20px;
	padding-bottom: 20px;
  }
  .SearchBar{
   width: 35%;
  
  
  }
  .Search{
	border-radius: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.315), 0 6px 20px 0 rgba(0, 0, 0, 0.264);
	width: 40%;
	height: 20px;
	background-color: rgb(215, 215, 215);
  }
  
  .costumTablist {
	list-style-type: none;
  
	padding: 0;
	margin-bottom: -0.015%;
	display: flex;
	gap: 1%;
	background: none; 
  }
  .costumTab:focus {
	outline: none;
  }
  .react-tabs__tab-panel {
	margin-top: 0;
  }
  

  .costumTab {
	padding: 10px 20px;
	cursor: pointer;
	background: rgba(
	  121,
	  121,
	  121,
	  0.493
	); 
	color: #ffffff;
	border: none;
	border-radius: 10px 10px 0%  0%;
  }
  
  .costumTab[aria-selected="true"] {
	background: rgba(67, 70, 45, 0.566); 
	color: #ffffff; 
   
  }
  
  .costumTab:hover {
	background-color:  hsla(67, 22%, 23%, 0.766);
  }
  .react-tabs__tab-panel {
	background-color: rgba(67, 70, 45, 0.566);
  
  
	border-radius: 0 30px 30px  30px;
  
  
  }
  .add{
	border-radius: 60px;
	background-color: rgb(28, 229, 28);
  } .add:hover{
	border-radius: 60px;
	background-color: rgb(13, 106, 13);
  }