.PluszCetli{
    height: 50px;
    width: 50px;

    justify-content: center;
    background-color: none;
    cursor: pointer;
    border: none;
    border-radius: 10%;
    margin: auto;
    margin-top: 5px;
    font-size: 40px;

}

.PluszCetli:hover{
  color: lightgray;
}