body {
  background-color: #264E36
}

main {
  background-color: #258037;
  width: 80%;
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'h h h'
  'n1 n1 n1'

    'a a as'
    'a a as'
    'f f f';
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

header {
  grid-area: h;
  height: 150px;
}
header h1{
  margin: auto;
  text-align: center;
  padding-top: 50px;
  color: white;
}
h2 {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

navigation {
  grid-area: n1;
  background-color: #f59c02;
  width: 100%;
  height: 50px;
  display: block; /* Ha flexbox-ot használsz, akkor ezt 'flex'-re változtasd */
  justify-content: space-between;
  justify-content: center; /* Középre igazítja a flex elemeket vízszintesen */
  align-items: center;
}
.navigation-left,
.navigation-right {
  float: left; /* A '.navigation-left' elemet balra igazítja */
  list-style: none; /* Eltávolítja a lista jelölőket */
  padding: 0; /* Eltávolítja az alapértelmezett paddingot */
  margin: 0; /* Eltávolítja az alapértelmezett margót */
  padding-top: 10px;
}

.navigation-right {
  float: right; /* A '.navigation-right' elemet jobbra igazítja */
}

/* Opcionális: Tisztázhatod a lebegést egy clear-fix segítségével */
.navigation:after {
  content: "";
  display: table;
  clear: both;
}
ul li a {
  text-decoration: none; 
  color: black; 
  padding: 12px 25px 18px 25px;
  border-radius: 5px;
}

ul li a:hover {
  background-color: #FFD700; /* Changes background color on hover */
}


article {
  padding-left: 15px;
  grid-area: a;

}

aside{
  grid-area: as;
}
aside img{
  padding-top: 30px;
  width: 100%;
}
ul {
  padding-top: 10px;
  margin: auto;
  height: 40px;
}

ul li {
  display: inline;
  padding-right: 10px;
  font-weight: bold;
  transition: font-size 0.3s ease;
  cursor: pointer;
  width: 150px;
}
article p{
  font-size: 20px;
  color: white;
}


footer{
  grid-area: f;
  background-color: #f59c02;
  text-align: center;
  color: black;
}
@media (max-width: 1200px) {

  main{
    grid-template-areas: 'h h h'
    'n1 n1 n1'

      'as as as'
      'a a a'
      'f f f';
  }


aside, article{
    margin: auto;
  }

}
@media (max-width: 900px) {

  navigation{
    height: 100px;
  }
}
@media (max-width: 700px) {


  h2{
    color: #FFD700;

    text-align: center;
  }

  navigation {
    height: 100px;
    text-align: center;
    margin: auto;
    min-width: calc(50% - 20px);
  }
  aside {
    grid-area: as;
    width: 100%; /* A teljes szélesség kihasználása */
    padding: 65px 50px; /* Szükség esetén állítsa be a paddingot */
    box-sizing: border-box; /* A paddingot és bordert is beleértve a szélességbe */
  }

  
}
