:root {
	--base-color: #555;
}

.Meal {
	height: 40px;
	width: 80%;
	margin: auto;
	margin-top: 1%;
	margin-bottom: 2%;
	display: flex;
	flex-wrap: wrap;
	gap: 1%;
	color: white;
	margin-bottom: 5%;
	font-size: 1.5rem;
}
.MData {
	display: flex;
	flex-wrap: wrap;
	width: 70%;
	background-color: var(--base-color);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	gap: 2%;
}

.FoodName {
	width: 60%;
}

.Cost {
	width: 30%;
}
.Cost,
.FoodName {
	padding: 1.5% 4% 1.5% 4%;
	border: 10px solid --base-color;
}
.ColorBox {
	background-color: #4caf50;

	margin: 2%;
	border-radius: 8px;
}

.Options {
	background-color: var(--base-color);
	width: 20%;
	padding: 0;
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Options div {
	width: calc(100% / 2);
	height: 100%;

	margin: 0;
	float: left;
	box-sizing: border-box;
	cursor: pointer;
	color: black;
	background-color: var(--base-color);
}
.delete {
	border-top-right-radius: 60px;
	border-bottom-right-radius: 60px;
}
.edit {
	border-right: 0.1px solid rgb(162, 162, 162);
}
.edit:hover {
    background-color: hsl(83, 100%, 40%);  /* Darker green */
    transition: 0.5s;

}

.delete:hover {
    background-color: hsl(0, 100%, 40%);  /* Darker red */
    transition: 0.5s;

}

color{
	background-color: darkslategrey;
}