.Oszlop{
height: 460px;
width: 300px;
background-color: rgba(197, 197, 197, 0.1);

text-align: center;

justify-content: center;
border-radius: 60px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);





}
h1{
    font-size: 20px;
    border-radius: 0cm;
    border-bottom: 1px solid silver;
    margin: auto;
    margin-top: 15px;
    width: 90%;
}